.App {
  text-align: center;
  
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */


.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.wrapper-log-sign{
  display: flex;
  justify-content: space-between;
  margin-top: 20%;  
}

.wrapper-log-sign .input-box{
  color: #333;
  border: 2px solid rgba(255, 255, 255, .2);
  outline: none;
  background: transparent;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
}

.wrapper-log-sign .input-box:active {
  color: #000;
  background: #fff;
}

.wrapper-log-sign .input-box:hover {
  color: #000;
  background: #fff;
}


.input-box input{
  width: 70%;
  height: 100%;
  color: #333;
  border: 2px solid rgba(255, 255, 255, .2);
  outline: none;
  background: transparent;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
}

.input-box input::placeholder{
  color: #fff;
}

#myCard.cardStyle {
    height: 500px;
    margin: auto;
    width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0,0,0.2);
}

@media only screen and (max-width: 500px) {
  .App {
    width: 100%; /* Increase width for smaller screens */
    height: 100%;
  }

  .wrapper .input-box {
    width: 90%;
  }

  
  #myCard.cardStyle {
    height: 370px;
    background-position: 'center';
    margin: auto;
    width: 310px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0,0,0.2);
}
  
}
